*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100vh;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	background-color: $bg-color-light-2;
}

#root,
.app-root {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100%;
}
