@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

body {
	font-family: $font-family;
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;
}

ul {
	display: block;
	list-style: none;
}

input,
select,
textarea {
	display: block;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	min-width: 0;

	&:invalid {
		background-color: transparent;
		border: none;
		box-shadow: none;
	}
}

button {
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
