@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: $font-size;
	line-height: $line-height;
}

ul {
	display: block;
	list-style: none;
}

input,
select,
textarea {
	display: block;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	min-width: 0;
}

button {
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
