.u-width-spacer-1 {
	display: block;
	width: $spacer-1;
}

.u-width-spacer-2 {
	display: block;
	width: $spacer-2;
}

.u-width-spacer-3 {
	display: block;
	width: $spacer-3;
}

.u-width-spacer-4 {
	display: block;
	width: $spacer-4;
}

.u-margin-horizontal-spacer-1 {
	display: block;
	margin: 0 $spacer-1;
}

.u-margin-horizontal-spacer-2 {
	display: block;
	margin: 0 $spacer-2;
}

.u-margin-horizontal-spacer-3 {
	display: block;
	margin: 0 $spacer-3;
}

.u-margin-horizontal-spacer-4 {
	display: block;
	margin: 0 $spacer-4;
}
