.container {
	width: 100%;
	max-width: $container-max-width;
	padding: 0 $container-spacing-x;
	margin: 0 auto;

	@include media-breakpoint-down('sm') {
		padding: 0 $container-spacing-sm-x;
	}
}
