@mixin scale-transition {
	&-enter {
		opacity: 0;
		transform: scale3d(.6, .6, 1);

		&-active {
			opacity: 1;
			transform: scale3d(1, 1, 1);
			transition: opacity .15s ease, transform .3s ease;
		}
	}

	&-exit {
		opacity: 1;
		transform: scale3d(1, 1, 1);

		&-active {
			transform: scale3d(.6, .6, 1);
			opacity: 0;
			transition: opacity .15s ease, transform .3s ease;
		}
	}
}
