.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: $modal-z-index;

	&--overflow {
		overflow: auto;
	}

	&--hidden {
		visibility: hidden;
	}

	&--centered {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
