.paper {
	background-color: $paper-bg-color;
	border-radius: $paper-border-radius;
	overflow: hidden;

	&--elevated {
		box-shadow: $paper-box-shadow;
	}

	&--outlined {
		border: $paper-border;
	}
}
