.rating {
	$this: &;

	display: inline-flex;
	flex-flow: row nowrap;

	&__item {
		position: relative;
		@include disable-tap-highlight-color;
		cursor: pointer;

		&:hover:not(&--disabled):not(&--read-only),
		&--focused:not(&--disabled):not(&--read-only) {
			#{$this}__icon {
				transform: scale3d(1.3, 1.3, 1);
			}
		}

		&--disabled,
		&--read-only {
			cursor: inherit;
		}

		&--disabled {
			opacity: $rating-disabled-opacity;
		}

		&--small {
			width: $rating-size-small;
			height: $rating-size-small;
		}

		&--medium {
			width: $rating-size-medium;
			height: $rating-size-medium;
		}

		&--large {
			width: $rating-size-large;
			height: $rating-size-large;
		}
	}

	&__input,
	&__icon {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: inherit;
	}

	&__input {
		opacity: 0;
	}

	&__icon {
		background-image: url('../resources/images/stargrade.svg');
		background-size: cover;
		transition: transform .15s ease-out;

		&--selected {
			background-image: url('../resources/images/stargrade-selected.svg');
		}
	}
}
