.select-input {
	$this: &;

	display: inline-flex;
	align-items: center;

	cursor: pointer;

	&:not(#{$this}--multiline) {
		#{$this}__display,
		#{$this}__placeholder {
			@include truncation;
		}
	}

	&--disabled {
		cursor: auto;

		#{$this}__chevron {
			color: rgba($icon-color, .4);
		}
	}

	&__display {
		width: 100%;
		padding: $input-padding-y $input-padding-x;
	}

	&__placeholder {
		color: $input-placeholder-color;
	}

	&__chevron {
		flex: none;
		color: $icon-color;
		margin: 0 $input-padding-x;
	}
}
