.slider {
	$this: &;

	position: relative;
	display: inline-block;
	padding: $slider-padding;
	color: $slider-bg-color;
	touch-action: none;
	@include disable-tap-highlight-color;
	cursor: pointer;

	&--disabled {
		pointer-events: none;
		opacity: $slider-disabled-opacity;
	}

	&--horizontal {
		width: 100%;
		height: $slider-height;

		#{$this}__rail,
		#{$this}__track {
			height: $slider-height;
		}

		#{$this}__rail {
			width: 100%;
		}

		#{$this}__thumb {
			margin-top: ($slider-thumb-size - $slider-height) / -2;
			margin-left: ($slider-thumb-size - $slider-height) / -2;
		}
	}

	&--vertical {
		width: $slider-height;
		height: 100%;

		#{$this}__rail,
		#{$this}__track {
			bottom: 0;
			width: $slider-height;
		}

		#{$this}__rail {
			height: 100%;
		}

		#{$this}__thumb {
			margin-left: ($slider-thumb-size - $slider-height) / -2;
			margin-bottom: ($slider-thumb-size - $slider-height) / -2;
		}
	}

	&__rail,
	&__track {
		position: absolute;

		border-radius: 2px;
	}

	&__rail {
		background-color: currentColor;
		opacity: $slider-rail-opacity;
	}

	&__track {
		background-color: currentColor;
	}

	&__thumb {
		$thumb: &;

		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: $slider-thumb-size;
		height: $slider-thumb-size;

		background-color: currentColor;
		border-radius: 50%;
		transition: box-shadow .2s;

		&:after {
			$offset: $slider-thumb-size / -2 * 1.5;

			position: absolute;
			content: "";
			top: $offset;
			right: $offset;
			bottom: $offset;
			left: $offset;
		}

		&:hover,
		&--active,
		&--focus-visible {
			box-shadow: 0 0 0 ($slider-thumb-size / 2 + .1rem) rgba($slider-bg-color, $slider-rail-opacity);
		}

		&:focus {
			outline: none;
		}

		&--open-label {
			#{$thumb}-label {
				opacity: 1;
				transform: scale3d(1, 1, 1);
			}
		}

		&-label {
			position: absolute;
			display: inline-flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
			top: -$slider-thumb-size - 2rem;
			background-color: $slider-bg-color;
			color: $slider-text-color;
			padding: $spacing-scale-2 $spacing-scale-4;
			white-space: nowrap;
			border-radius: $border-radius-lg;
			transform: scale3d(0, 0, 0);
			opacity: 0;
			transform-origin: bottom center;
			transition: all .3s ease;

			&::after {
				position: absolute;
				content: "";
				border: .5rem solid transparent;
				border-top-color: $slider-bg-color;
				bottom: -1rem;
			}
		}
	}
}
