.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#000, .15);
	z-index: -1;

	&-appear {
		opacity: 0;
		transition: all .3s ease;

		&-active {
			opacity: 1;
		}
	}

	&-exit {
		opacity: 1;
		transition: all .3s ease;

		&-active {
			opacity: 0;
		}
	}
}
