.box-label {
	$this: &;

	position: relative;
	display: inline-flex;
	align-items: center;

	margin-left: -$checkbox-padding;
	margin-right: $input-padding-x + $checkbox-padding;

	&--align-right {
		margin-left: 0;

		#{$this}__text {
			order: 0;
			margin: 0;
			margin-right: $input-padding-x - $checkbox-padding;
		}
	}

	&--disabled {
		#{$this}__text {
			opacity: $input-disabled-opacity;
		}
	}

	&__content {
		order: 1;
	}

	&__text {
		order: 2;
		margin-left: $input-padding-x - $checkbox-padding;
	}
}
