.box-label {
	$this: &;

	position: relative;
	display: inline-flex;
	align-items: center;

	margin-left: -$checkbox-margin-x;
	margin-right: $input-padding-x + $checkbox-margin-x;

	&--align-right {
		margin-left: 0;

		#{$this}__text {
			order: 0;
			margin: 0;
			margin-right: $input-padding-x - $checkbox-margin-x;
		}
	}

	&--disabled {
		#{$this}__text {
			opacity: $input-disabled-opacity;
		}
	}

	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		order: 1;
	}

	&__text {
		order: 2;
		margin-left: $input-padding-x - $checkbox-margin-x;
		padding: calc(#{$spacing-scale-4} + 1px) 0;
	}
}
