.btn {
	$this: &;

	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	background-color: $btn-bg-color;
	color: $btn-color;
	font-family: inherit;
	font-size: $btn-font-size;
	font-weight: $btn-font-weight;
	padding: 0 $spacer-2;
	min-height: $btn-min-height;
	min-width: $btn-min-width;
	border: $btn-border;
	border-radius: $btn-border-radius;
	box-shadow: $btn-box-shadow;
	cursor: pointer;
	transition: $btn-transition;

	&:hover:not(&--disabled) {
		background-color: $btn-hover-bg-color;
	}

	&:focus {
		outline: none;
		box-shadow: $btn-focus-box-shadow;
	}

	&--disabled {
		opacity: .6;
		cursor: auto;
	}

	// Should be always prior to &--primary
	&--plain {
		background-color: $btn-plain-bg-color;
		border: $btn-plain-border;
		box-shadow: none;
	}

	&--primary {
		background-color: $btn-primary-bg-color;
		color: $btn-primary-color;

		&:hover:not(#{$this}--disabled) {
			background-color: lighten($btn-primary-bg-color, 5%);
		}

		&#{$this}--plain {
			border: $btn-primary-plain-border;

			&:hover {
				background-color: $btn-primary-plain-bg-color;
				color: $btn-primary-plain-color;
				border-color: $btn-primary-plain-hover-border-color;
			}
		}
	}

	&--small {
		font-size: $btn-small-font-size;
	}

	&--medium {
		font-size: $btn-medium-font-size;
	}

	&--large {
		font-size: $btn-large-font-size;
		padding-top: .8rem;
		padding-bottom: .8rem;

		#{$this}__text {
			letter-spacing: .4px;
		}
	}

	&--centered {
		justify-content: center;
	}

	&--icon-align-left {
		#{$this}__icon {
			margin-right: $spacer-2;
		}
	}

	&--icon-align-top,
	&--icon-align-bottom {
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		padding: $spacer-2 $spacer-2;
	}

	&--icon-align-top {
		#{$this}__icon {
			margin-bottom: $spacer-2;
		}
	}

	&--icon-align-bottom {
		#{$this}__text {
			order: -1;
			margin-bottom: $spacer-2;
		}
	}

	&--icon-align-right {
		#{$this}__text {
			order: -1;
			margin-right: $spacer-2;
		}
	}

	&--empty-text {
		min-width: 0;

		#{$this}__icon {
			margin: 0;
		}
	}

	&--auto-width {
		width: 100%;
	}

	&__text {
		display: block;
		letter-spacing: .6px;
	}
}
