.btn {
	$this: &;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	background-color: transparent;
	color: $btn-color;
	font-size: inherit;
	letter-spacing: .4px;
	border: none;

	&:focus,
	&:active {
		outline: none;
	}

	&--small {
		font-size: $btn-font-size-small;
	}

	&--medium {
		font-size: $btn-font-size-medium;
	}

	&--large {
		font-size: $btn-font-size-large;
	}

	&--icon-align-top {
	}

	&--icon-align-right {
	}

	&__icon {
		margin-right: .6rem;
	}
}
