.cart {
	&__item {
		padding-left: $spacing-scale-7;
		padding-right: $spacing-scale-7;
	}

	&__item-col {
		&:not(:last-child) {
			padding-right: $spacing-scale-7;
		}
	}

	&__product {
		display: flex;
		flex-flow: row wrap;
		align-items: center;

		.product {
			&__icon-button {
				padding: 0;
			}

			&__image-container {
				flex: none;
				width: 10rem;
				padding: 0;
				margin-right: $spacing-scale-7;
			}

			&__image {
				display: block;
				width: 100%;
				height: 100%;
			}

			&__title {
				height: auto;
				margin-bottom: $spacing-scale-4;
			}

			&__detailes {
				flex: 1;
				align-self: flex-start;

				@include media-breakpoint-up('sm') {
					min-width: 15rem;
				}
			}

			&__size-container {
				display: flex;
				flex-flow: row nowrap;
				justify-content: flex-start;
				align-items: center;
			}

			&__size-label {
				font-size: $font-size-small;
				margin-right: $spacing-scale-2;
			}

			&__size-value {
				font-weight: 500;
			}

			&__qty {
				flex: auto;
				max-width: 12rem;
				min-width: 10rem;

				@include media-breakpoint-down('sm') {
					flex: auto;
					margin-top: $spacing-scale-7;
					padding-right: 0;
					max-width: none;
					width: 100%;
					order: 2;
				}
			}

			&__price {
				flex: auto;
				white-space: nowrap;
				text-align: right;
				padding: 0;
				margin: 0;
				max-width: 10rem;

				@include media-breakpoint-down('sm') {
					margin-top: $spacing-scale-7;
					order: 1;
				}
			}
		}
	}

	.summary-list__item--large {
		font-size: 2.4rem;
	}
}

.cart-window {
	&__body {
		display: flex;
		flex-flow: column;
		justify-content: center;
		min-height: 20rem;
	}

	&__list {
		flex: 1;
	}

	&__summary {
		flex: none;

		@include media-breakpoint-down('sm') {
			box-shadow: 0 -2px 6px -1px rgba(0, 0, 0, 0.12);
		}
	}
}
