.carousel {
	position: relative;
	overflow: hidden;

	&__items {
		position: relative;
		width: 100%;
	}

	&__item {
		float: left;
		margin-right: -100%;
		width: 100%;

		&--active {
			display: inline-block;
		}

		& > * {
			width: 100%;
		}
	}

	&__indicators {
		position: absolute;
		bottom: 1.4rem;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
	}

	&__indicator {
		display: inline-block;
		&:not(:first-child) {
			margin-left: 1rem;
		}
	}

	&__indicator-btn {
		display: block;
		background: #fff;
		width: .8rem;
		height: .8rem;
		border-radius: 50%;
		opacity: .4;
		cursor: pointer;
		box-shadow: 0 1px 2px 0px rgba(#000, .2);
		transition: all .15s ease-out;

		&--active {
			opacity: 1;
			transform: scale3d(1.4, 1.4, 1);
			box-shadow: none;
		}

		&:hover {
			opacity: 1;
		}
	}

	&__control {
		$control: &;

		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		color: $icon-color;
		background-color: rgba(#fff, .4);
		padding: .6rem;
		border-radius: 50%;
		cursor: pointer;
		transition: all .3s ease-out;

		&:hover {
			background-color: rgba(#fff, .8);
			box-shadow: 0 1px 4px 0px rgba(#000, .2);
		}

		&--prev {
			left: 1.4rem;
		}

		&--next {
			right: 1.4rem;
		}

		&--position-outside {
			opacity: 0;

			&#{$control}--prev {
				transform: translate3d(-1.4rem, -50%, 0);
			}

			&#{$control}--next {
				transform: translate3d(1.4rem, -50%, 0);
			}

			&#{$control}--hover {
				opacity: 1;
				transform: translate3d(0, -50%, 0);
				transition: all .3s ease-out;
			}
		}
	}

	&__slide-anim-left-enter {
		transform: translate3d(100%, 0, 0);
		transition: all 1s ease-out;

		&-active {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}

	&__slide-anim-left-exit {
		transform: translate3d(0, 0, 0);
		opacity: 1;
		transition: all 1s ease-out;
		// transform-origin: 90% 50%;

		&-active {
			opacity: 0;
			transform: translate3d(-100%, 0, 0);
		}
	}

	&__slide-anim-right-enter {
		transform: translate3d(-100%, 0, 0);
		transition: all 1s ease-out;

		&-active {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}

	&__slide-anim-right-exit {
		transform: translate3d(0, 0, 0);
		// transform-origin: 10% 50%;
		opacity: 1;
		transition: all 1s ease-out;

		&-active {
			opacity: 0;
			transform: translate3d(100%, 0, 0);
		}
	}
}
