.catalog-page {
	&__layout {
		min-height: 60rem;
	}

	&__aside-sticky {
		background-color: $white;
		border: 1px solid $border-color-light;
		border-radius: $border-radius-lg;

		&--active {
			margin: $spacing-scale-6 0;
		}
	}

	&__tbar {
		display: flex;
		padding: $spacing-scale-6 0;

		& > *:not(:last-child) {
			margin-right: $spacing-scale-8;
		}
	}

	&__filters {
		display: block;
	}

	&__main-section {
		margin-bottom: $spacing-scale-9;
	}
}

.catalog-page-filters-panel {
	border-style: solid;
	border-width: 0px 0 1px 0;
	border-color: $border-color-light;

	&:last-child {
		border: 0;
	}

	&__header {
		font-weight: 500;
		text-transform: uppercase;
		color: $heading-color;

		& &-reset {
			text-transform: none;
			padding-right: $spacing-scale-8;

			&,
			&:link,
			&:visited,
			&:hover {
				color: $color-secondary;
			}
		}
	}

	&__body {
		padding-right: $spacing-scale-6;
	}

	& .filters-list__search {
		padding: 0 $spacing-scale-2 0 $spacing-scale-8;
	}

	&__cell-list {
		padding: 0 0 0 $spacing-scale-8;

		& .filters-list__search {
			padding: 0 $spacing-scale-2 $spacing-scale-4 0;
		}
	}

	&__form {
		padding: $spacing-scale-4 $spacing-scale-2 0 $spacing-scale-8;
	}
}
