.category-menu {
	position: absolute;
	// display: flex;
	// flex-flow: row nowrap;
	// background-color: $red;
	width: 100%;

	&__container {
		// background-color: $green;
		max-width: $container-max-width;
		padding: 0 $container-spacing-x;
		margin: 0 auto;
		width: 100%;
		height: 100%;
	}

	&__body {
		display: inline-block;
		position: relative;
		background-color: #fff;
		border-radius: 0 0 $border-radius-lg $border-radius-lg;
		box-shadow: $box-shadow-lg;
		height: 100%;
	}

	&__list {
		width: 26rem;
		height: 100%;
		padding: $spacing-scale-5 0;
	}

	&__item {
		$item: &;

		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		padding: $spacing-scale-5 $spacing-scale-8;
		width: 100%;
		min-height: 4.4rem;

		&:hover {
			background-color: $grey-lighten-5;

			& #{$item}-icon,
			& #{$item}-text {
				color: $color-primary;
			}
		}

		&:focus {
			outline: none;
		}

		&-text {
			flex: 1;
			font-family: $font-family;
			font-size: $font-size;
			font-weight: 500;
			text-align: left;
			color: $body-color;
		}

		&-icon {
			color: $icon-color;
			margin-right: $spacing-scale-7;

			&--right {
				margin: 0;
			}
		}
	}

	&__sub {
		position: absolute;
		right: 0;
		top: 0;
		width: calc(100% - 26rem);
		height: 80rem;
		padding: $spacing-scale-5;
		text-align: left;
	}
}
