.grid-empty-item {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	padding: $spacing-scale-8 0;
	color: $grey;
	font-weight: 500;

	&__icon {
		width: 4.8rem;
		height: 4.8rem;
		margin-bottom: $spacing-scale-6;
	}
}
