.btn-icon {
	position: relative;
	background-color: transparent;
	color: $icon-color;
	padding: $icon-btn-padding;
	cursor: pointer;
	z-index: 0;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-hover;
		border-radius: 50%;
		transform: scale3d(0, 0, 1);
		transition: transform .15s ease-out;
		z-index: -1;
	}

	&:not(&--disabled) {
		&:hover,
		&:focus {
			@if $icon-btn-hover-bg-color {
				color: $icon-btn-hover-color;
			}

			&::before {
				transform: scale3d(1, 1, 1);
			}
		}
	}

	&:focus {
		outline: none;
	}

	&--primary {
		color: $color-primary;
	}

	&--disabled {
		cursor: text;
		opacity: .2;
	}

	&--small {
		padding: $icon-btn-small-padding;
	}

	&--medium {
		padding: $icon-btn-medium-padding;
	}

	&--large {
		padding: $icon-btn-large-padding;
	}
}
