.btn-icon {
	position: relative;
	background-color: transparent;
	color: $icon-color;
	padding: 1rem;
	cursor: pointer;
	z-index: 0;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $icon-btn-hover-bg-color;
		border-radius: 50%;
		transform: scale3d(0, 0, 1);
		transition: transform .15s ease-out;
		z-index: -1;
	}

	&:not(&--disabled) {
		&:hover,
		&:focus {
			color: $color-primary;
			&::before {
				transform: scale3d(1, 1, 1);
			}
		}
	}

	&--disabled {
		cursor: text;
		opacity: .2;
	}

	&:focus {
		outline: none;
	}
}
