.page {
	display: block;

	%page-paper {
		background-color: $white;
		border-radius: $border-radius-lg;
		box-shadow: $box-shadow-sm;
		overflow: hidden;
	}

	&__section {
		margin-bottom: $spacing-scale-6;
	}

	&__aside {
		display: flex;
		flex-shrink: 0;
		width: 25rem;

		&:first-child {
			margin-right: $spacing-scale-6;
		}

		&:last-child {
			margin-left: $spacing-scale-6;
		}

		&--paper {
			@extend %page-paper;
		}
	}

	&__content {
		display: flex;
		width: 100%;

		&--paper {
			@extend %page-paper;
		}
	}
}
