.page {
	&__section {
		margin-bottom: $spacing-scale-6;
	}

	&__aside {
		display: flex;
		flex-shrink: 0;
		width: $page-aside-width;

		&:first-child {
			margin-right: $spacing-scale-6;
		}

		&:last-child {
			margin-left: $spacing-scale-6;
		}
	}

	&__content {
		display: flex;
		width: 100%;
	}

	&__header {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;
		padding: $spacing-scale-6 0;
	}
}
