.panel {
	&__header {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;
		padding: $spacer-2 0;
	}

	&__header-body {
		margin-left: $spacer-2;
	}

	&__title {
		display: block;
	}

	&__icon {
		color: $color-primary;
		margin: 0 $spacer-2;
	}

	&__body {
		display: block;
	}
}
