.product-page {
	& &__main-section {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: flex-start;

		// @include media-breakpoint-down('lg') {
		// 	background-color: $white;
		// 	border: 1px solid $border-color-light;
		// 	border-radius: $border-radius-lg;
		// }
	}

	& &__aside {
		position: sticky;
		top: $spacing-scale-6;
		flex: auto;
		max-width: 38rem;
		min-height: 20rem;

		@include media-breakpoint-down('lg') {
			position: relative;
			top: 0;
			width: 100%;
			max-width: 100%;
			margin: 0;
			margin-bottom: $spacing-scale-6;
			box-shadow: none;
			order: 0;
		}
	}

	& &__center {
		flex: 1;
		// background-color: $white;
		min-height: 15rem;
		// border-radius: $border-radius-lg;
		// border: 1px solid $border-color-light;

		@include media-breakpoint-down('lg') {
			flex: auto;
			width: 100%;
			border: 0;
			order: 1;
		}
	}
}
