.products-carousel {
	&__item {
		flex-shrink: 0;
		position: relative;
		display: block;
		background-color: $white;
		width: 21rem;
		height: 100%;
		padding: $spacing-scale-6 $spacing-scale-6 $spacing-scale-9;
		border-right: 1px solid $border-color-light;
		border-bottom: 1px solid $border-color-light;
	}

	.scrolling-carousel__item:last-child &__item {
		border-right: 0;
	}
}
