.product-features {
	&__item {
		padding-top: $spacing-scale-2;
		padding-bottom: $spacing-scale-2;

		&--condensed {
			padding-top: $spacing-scale-1;
			padding-bottom: $spacing-scale-1;
		}

		&-title {
			font-weight: 500;
			letter-spacing: .2px;
			color: $heading-color;
			width: 100%;
			max-width: 20rem;
		}
	}
}
