.product {
	display: block;
	position: relative;
	text-decoration: none;
	color: inherit;
	background: #fff;

	&__img-container {
		position: relative;
		height: 24rem;
		margin-bottom: $spacing-scale-6;
		overflow: hidden;
	}

	&__img {
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
		z-index: 1;
	}

	&__title {
		display: block;
		height: 6.2rem;
		font-size: $font-size;
		margin-bottom: $spacing-scale-6;
		overflow: hidden;
	}

	&__brand {
		display: block;
		font-weight: 500;
		margin-bottom: .4rem;
	}

	&__name {
		font-weight: 400;
	}

	&__prices-container {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	}

	&__price {
		font-size: 1.8rem;
		font-weight: 500;
		line-height: 1;

		&--old {
			font-size: 1.6rem;
			color: $grey;
			text-decoration: line-through;
			padding-right: $spacing-scale-6;
		}

		&--new {
			color: $red;
		}
	}

	&__currency {
		display: inline-block;
		padding-left: .8rem;
	}

	&__flag {
		position: absolute;
		top: $spacing-scale-6;
		left: $spacing-scale-6;
		font-size: 1.2rem;
		font-weight: 500;
		line-height: 1;
		text-transform: uppercase;
		padding: .4rem .6rem;
		background: #fff;
		z-index: 2;

		&--new {
			color: $color-primary;
			border: 1px solid $color-primary;
			border-radius: 3px;
		}
		&--hot {
			color: $red;
			border: 1px solid $red;
			border-radius: 3px;
		}
	}

	&__sizes {
		margin-bottom: -$spacing-scale-4;

		&-label {
			font-size: $font-size-small;
			color: $grey-darken-3;
			font-weight: 500;
			margin-bottom: .4rem;
		}

		&-body {
			display: flex;
			flex-flow: row wrap;
		}
	}

	&__size-link {
		&,
		&:link,
		&:visited,
		&:active {
			font-size: $font-size-small;
			font-weight: 500;
			color: inherit;
			text-decoration: none;
			padding: $spacing-scale-2 $spacing-scale-4;
			margin-bottom: $spacing-scale-4;
			border: 1px solid $border-color-light;
			border-radius: $border-radius-sm;

			&:not(:last-of-type) {
				margin-right: $spacing-scale-4;
			}
		}

		&:hover {
			color: $color-primary;
			border-color: $color-primary;
			transition: all .25s ease;
		}
	}
}
