.product {
	display: block;
	position: relative;
	padding: $spacing-scale-6 $spacing-scale-6 $spacing-scale-9;
	text-decoration: none;
	color: inherit;
	background: #fff;

	&__img-container {
		position: relative;
		height: 24rem;
		margin-bottom: $spacing-scale-6;
		overflow: hidden;
	}

	&__img {
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
	}

	&__title {
		display: block;
		height: 6.2rem;
		font-size: $font-size;
		margin-bottom: $spacing-scale-6;
		overflow: hidden;
	}

	&__brand {
		display: block;
		font-weight: 500;
		padding-bottom: .4rem;
	}

	&__name {
		font-weight: 400;
	}

	&__prices-container {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	}

	&__price {
		font-size: 1.8rem;
		font-weight: 500;
		line-height: 1;

		&--old {
			font-size: 1.6rem;
			color: $grey;
			text-decoration: line-through;
			padding-right: $spacing-scale-6;
		}

		&--new {
			color: $red;
		}
	}

	&__currency {
		display: inline-block;
		padding-left: .8rem;
	}

	&__flag {
		position: absolute;
		top: $spacing-scale-6;
		left: $spacing-scale-6;
		font-size: 1.2rem;
		font-weight: 500;
		line-height: 1;
		text-transform: uppercase;
		padding: .4rem .6rem;
		background: #fff;
		z-index: 1;

		&--new {
			color: $color-primary;
			border: 1px solid $color-primary;
			border-radius: 3px;
		}
		&--hot {
			color: $red;
			border: 1px solid $red;
			border-radius: 3px;
		}
	}
}
