.scrolling-carousel {
	$this: &;

	position: relative;
	display: flex;
	flex-flow: row nowrap;

	&__control {
		position: relative;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;
		color: $icon-color;
		padding: 0 1.4rem;
		cursor: pointer;
		z-index: 1;
		transition: opacity .15s ease-out;

		&:not(&--disabled) {
			cursor: pointer;

			&:hover {
				color: $icon-color-hover;
			}
		}

		&--next:not(&--disabled) {
			box-shadow: -6px 0 6px -5px rgba(#000, .15);
		}

		&--prev:not(&--disabled) {
			box-shadow: 6px 0 6px -5px rgba(#000, .15);
		}

		&--disabled {
			opacity: .2;
		}
	}

	&__body {
		position: relative;
		display: block;
		overflow: hidden;
		flex: 1;
	}

	&__scroller-content {
		display: inline-block;

		#{$this}--scrollable & {
			// Only for non touch screens
			@media screen and (hover: hover) {
				padding-bottom: 6px;
				background: rgba($border-color, .4);
			}
		}
	}

	&__items {
		display: inline-flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: stretch;
		margin-bottom: 1px;
	}

	&__item {
		min-height: 1.4rem;
	}
}
