.svg-icon {
	display: block;
	width: 100%;
	height: 100%;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
	overflow: hidden;
	backface-visibility: hidden;

	&--small {
		width: 18px;
		height: 18px;
	}

	&--large {
		width: 34px;
		height: 34px;
	}
}

.icon {
	display: block;
	width: $icon-size;
	height: $icon-size;

	&--small {
		width: $icon-size-small;
		height: $icon-size-small;
	}

	&--medium {
		width: $icon-size-medium;
		height: $icon-size-medium;
	}

	&--large {
		width: $icon-size-large;
		height: $icon-size-large;
	}

	&--xlarge {
		width: $icon-size-xlarge;
		height: $icon-size-xlarge;
	}
}
