.svg-icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
	overflow: hidden;
	backface-visibility: hidden;

	&--small {
		width: 18px;
		height: 18px;
	}

	&--large {
		width: 34px;
		height: 34px;
	}
}
