@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin truncation {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin media-breakpoint-up($key) {
	$value: map-get($breakpoints, $key);
	@if $value != null {
		@media only screen and (min-width: $value) {
			@content;
		}
	}
}

@mixin media-breakpoint-down($key) {
	$value: map-get($breakpoints, $key);
	@if $value != null {
		@media only screen and (max-width: $value) {
			@content;
		}
	}
}
