// Font
$font-size: 1.4rem;
$line-height: 1.4;

// Colors
$color-primary: #669f42;
$color-secondary: #fe983f;
$color-hot: #f44336;
$color-silver: #9e9e9e;
$color-gray: #333;

$bg-color: #f7f7f7;
$bg-color-light: #fefefe;
$bg-color-dark: #f3f2f2;
$bg-color-dark-2: #e5e5e5;

$border-color: #dddddd;
$border-color-light: #ebebeb;
$border-color-dark: #cfcfcf;

// Spacer
$spacer-0: 0;
$spacer-1: 1rem;
$spacer-2: 1.2rem;
$spacer-3: 2.4rem;
$spacer-4: 4.8rem;

// Z-index
$modal-z-index: 2000;

// Heading
$heading-1-font-size: $font-size * 2.5;
$heading-2-font-size: $font-size * 2;
$heading-3-font-size: $font-size * 1.75;
$heading-4-font-size: $font-size * 1.5;
$heading-5-font-size: $font-size * 1.25;
$heading-6-font-size: $font-size;
$heading-font-weight: 400;
$heading-color: $color-gray;
$heading-line-height: inherit;
$heading-gutter-bottom: $spacer-2;

// Button
$btn-color: #626262;
$btn-bg-color: $bg-color-dark-2;
$btn-hover-bg-color: #fff;
$btn-small-font-size: 1.2rem;
$btn-medium-font-size: 1.4rem;
$btn-large-font-size: 1.6rem;
$btn-font-size: $btn-medium-font-size;
$btn-font-weight: 500;
$btn-text-transform: uppercase;
$btn-border: 2px solid transparent;
$btn-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
$btn-focus-box-shadow: 0 0px 0px 1px rgba($color-primary, .4), 0 0px 0px 4px rgba(#98d175, .6);
$btn-border-radius: 5px;
$btn-min-height: 3.6rem;
$btn-min-width: 8.4rem;
$btn-transition: all .15s ease-out;

$btn-primary-bg-color: $color-primary;
$btn-primary-color: #fff;
$btn-primary-focus-box-shadow: 0 0px 0px 1px rgba(#fff, .1), 0 0px 0px 4px rgba(#98d175, .6);

$btn-plain-bg-color: $btn-bg-color;
$btn-plain-border: 2px solid $btn-bg-color;

$btn-primary-plain-color: $color-primary;
$btn-primary-plain-bg-color: #fff;
$btn-primary-plain-border: 2px solid $color-primary;
$btn-primary-plain-hover-border-color: lighten($color-primary, 10%);

$icon-btn-hover-bg-color: #fff;

// Icon
$icon-small-size: 16px;
$icon-medium-size: 20px;
$icon-large-size: 24px;
$icon-xlarge-size: 36px;
$icon-size: $icon-large-size;

$icon-color: #646464;
$icon-hover-color: $color-primary;

// Link
$link-color: #646464;
$link-hover-color: $color-primary;
$link-small-font-size: 1.4rem;
$link-medium-font-size: 1.6rem;
$link-large-font-size: 2rem;
$link-font-weight: 400;

// Input
$input-padding: .8rem;
$input-bg-color: #fff;
$input-disabled-bg-color: $bg-color-light;
$input-border-color: $border-color;
$input-border-radius: 3px;
$input-focus-stripe-width: 2px;
$input-focus-stripe-color: $color-primary;
$input-placeholder-color: #949494;

// Skeleton
$skeleton-bg-color: #e5e7e8;

// Window
$window-bg-color: #fff;
$window-box-shadow: 0 2px 16px -1px rgba(#000, .2);
$window-border-radius: 5px;
$window-margin: $spacer-3;
$window-body-painted-bg-color: $bg-color;

// Breakpoints

/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + : Big desktop

1em = 16px
*/

$media-breakpoint-phone: 37.5em;
$media-breakpoint-tablet-port: 56.25em;
$media-breakpoint-tablet-land: 75em;
$media-breakpoint-desktop-large: 112.5em;

$media-breakpoints: (
	"phone": $media-breakpoint-phone,
	"tablet-port": $media-breakpoint-tablet-port,
	"tablet-land": $media-breakpoint-tablet-land,
	"desktop-large": $media-breakpoint-desktop-large
);

// Layout
$container-max-width: 120rem;
$container-padding: 0 $spacer-3;
