// Colors
$color-primary: #669f42;
$color-secondary: #fe983f;
$color-hot: #f44336;
$color-silver: #9e9e9e;

$bg-color: #f2f5fa;
$bg-color-light: #f9fafc;
$bg-color-dark: #f2f4f5;

$border-color: #e0e4e7;
$border-color-light: #efeef3;
$border-color-dark: #d8e2e7;

// Font
$font-size: 1.4rem;

// Panel
$panel-title-color: #333;
$panel-title-font-size: 1.8rem;
$panel-title-font-weight: 400;

// Button
$btn-color: #757575;
$btn-font-size-small: 1.4rem;
$btn-font-size-medium: 1.6rem;
$btn-font-size-large: 2rem;
$btn-font-size: $btn-font-size-small;
$btn-font-weight: 500;
$btn-text-transform: uppercase;

$btn-bg-color-primary: $color-primary;
$btn-color-primary: #fff;

$btn-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
$btn-focus-box-shadow: 0 0px 0px 1px rgba($color-secondary, .6), 0 0px 0px 4px rgba($color-secondary, .2);

$btn-border-radius: 5px;

$icon-btn-hover-bg-color: $bg-color-dark;

// Icon
$icon-size-small: 16px;
$icon-size-medium: 20px;
$icon-size-large: 24px;
$icon-size-xlarge: 36px;
$icon-size: $icon-size-large;

$icon-color: #646464;
$icon-color-hover: $color-primary;

// Link
$link-color: #646464;
$link-color-hover: $color-primary;
$link-font-size-small: 1.4rem;
$link-font-size-medium: 1.6rem;
$link-font-size-large: 2rem;
$link-font-weight: 400;

// Inputs
$input-padding: .8rem;
$input-bg-color: #fff;
$input-bg-color-disabled: $bg-color-light;
$input-border-color: $border-color;
$input-border-radius: 3px;
$input-focus-stripe-width: 2px;
$input-focus-stripe-color: $color-primary;
$input-placeholder-color: #949494;

// Breakpoints

/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + : Big desktop

1em = 16px
*/

$media-breakpoint-phone: 37.5em;
$media-breakpoint-tablet-port: 56.25em;
$media-breakpoint-tablet-land: 75em;
$media-breakpoint-desktop-large: 112.5em;

$media-breakpoints: (
	"phone": $media-breakpoint-phone,
	"tablet-port": $media-breakpoint-tablet-port,
	"tablet-land": $media-breakpoint-tablet-land,
	"desktop-large": $media-breakpoint-desktop-large
);

// Layout

$container-max-width: 120rem;
$container-padding: 0 3.2rem;
