.u-width-1 {
	display: block;
	width: $spacer-1;
}

.u-width-2 {
	display: block;
	width: $spacer-2;
}

.u-width-3 {
	display: block;
	width: $spacer-3;
}

.u-width-4 {
	display: block;
	width: $spacer-4;
}
