.product-page {
	& &__main-section {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: flex-start;
	}

	& &__aside {
		position: sticky;
		top: $spacing-scale-6;
		flex: auto;
		padding: $spacing-scale-9;
		max-width: 38rem;
		min-height: 4rem;

		@include media-breakpoint-down('lg') {
			position: relative;
			top: 0;
			width: 100%;
			max-width: 100%;
			min-height: 0;
			margin: 0;
			padding: 0;
			margin-bottom: $spacing-scale-6;
			box-shadow: none;
			order: 0;
		}
	}

	& &__center {
		flex: 1;
		min-height: 15rem;

		@include media-breakpoint-down('lg') {
			flex: auto;
			width: 100%;
			border: 0;
			order: 1;
		}
	}

	&__header {
		margin-bottom: $spacing-scale-12;
	}

	&__trade {
		padding: $list-padding-y $list-item-padding-x;
	}
}
