.header {
	&__top-part {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		min-height: 4.6rem;
		background-color: #fff;
		border-bottom: 1px solid $border-color;
	}

	&__nav-part {
		padding: 2rem 0;
	}

	&__container {
		display: flex;
		flex-flow: row nowrap;
	}

	&__logo-link {
		display: inline-block;
	}

	&__logo-img {
		display: inline-block;
		width: 16.5rem;
		height: auto;
	}
}
