.header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	min-height: 5.6rem;
	background-color: #fff;
	border-bottom: 1px solid $border-color;

	&__logo-link {
		display: inline-block;
	}

	&__logo-img {
		display: inline-block;
		width: 16.5rem;
		height: auto;
	}
}
