.carousel-card {
	display: block;
	width: 20rem;
	height: 10rem;
	text-align: center;
	line-height: 5;
	font-size: 2rem;
	background-color: #fff;
	border: 1px solid $border-color-dark;
	border-radius: 3px;
}
