.modal-content {
	position: absolute;
	width: 40rem;
	height: 20rem;
	padding: 2rem;
	background-color: #fff;
	border-radius: .5rem;
	box-shadow: 0 1px 10px 1px rgba(#000, .2);
}

.modal-animation {
	&-appear {
		// opacity: 0;
		transform: translate3d(0, -4rem, 0);
		transition: transform .3s ease-out;

		&-active {
			// opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}

	&-exit {
		opacity: 1;
		transition: opacity .3s ease;

		&-active {
			opacity: 0;
		}
	}
}

.transition-fade {
	&-enter {
		opacity: 0;
		transform: scale3d(.8, .8, 1);
		transition: all .3s ease;

		&-active {
			transform: scale3d(1, 1, 1);
			opacity: 1;
		}
	}

	&-exit {
		opacity: 1;
		transition: all .3s ease;

		&-active {
			opacity: 0;
		}
	}
}

.popper {
	position: absolute;
	top: 0;
	left: 0;
}

.tooltip {
	$this: &;

	background-color: $color-gray;
	color: #fff;
	font-size: 1.2rem;
	font-weight: 400;
	letter-spacing: .4px;
	padding: 1rem;
	border-radius: 5px;

	&-enter #{$this} {
		opacity: 0;
		transform: scale3d(.8, .8, 1);
		transform-origin: top;
		transition: all .2s ease-out;
	}

	&-enter-active #{$this} {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}

	&-exit #{$this} {
		opacity: 1;
		transition: all .2s ease-out;
	}

	&-exit-active #{$this} {
		opacity: 0;
	}
}
