.carousel-card {
	display: block;
	width: 21.1rem;
	height: 10rem;
	text-align: center;
	line-height: 5;
	font-size: 2rem;
	background-color: rgb(156, 223, 235);
	border: 1px solid $border-color-dark;

	// border-radius: 3px;
}

.scrolling-carousel__item:not(:first-child) .carousel-card {
	border-left-width: 0;
}
