.u-margin-lr-1 {
	display: block;
	margin: 0 $spacer-1;
}

.u-margin-lr-2 {
	display: block;
	margin: 0 $spacer-2;
}

.u-margin-lr-3 {
	display: block;
	margin: 0 $spacer-3;
}

.u-margin-lr-4 {
	display: block;
	margin: 0 $spacer-4;
}
