.u-text-align-left {
	text-align: left;
}
.u-text-align-right {
	text-align: right;
}
.u-text-align-center {
	text-align: center;
}

.u-text-small {
	font-size: $font-size-small;
}
.u-text-large {
	font-size: $font-size-large;
}

.u-text-strong {
	font-weight: 500;
}

.u-text-decoration-underline {
	text-decoration: underline;
}

.u-text-upper-case {
	text-transform: uppercase;
}
