.custom-field-control {
	& .field__label.field__label--align-left {
		padding: 1.1rem 1.2rem 0;
	}

	& .input {
		border-radius: 2px;
		font-weight: 500;

		&:after {
			content: none;
		}

		&--focused:not(&--error) {
			border-color: transparent;
			box-shadow: 0 0 0 2px #1ea7fd;
		}

		&--error {
			border-color: #ff3d00;
		}

		&__el {
			padding: 1rem 1.2rem;
		}
	}
}
