.actions-bar {
	display: flex;
	column-gap: $spacing-scale-6;
	row-gap: $spacing-scale-6;

	@supports not (column-gap: 1px) {
		& > * {
			padding-left: $spacing-scale-6;

			&:first-child {
				padding-left: 0;
			}
		}
	}
}
