.badge-wrap {
	position: relative;
}

.badge {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	color: $badge-color;
	background-color: $badge-bg-color;
	padding: $badge-padding;
	min-width: $badge-size;
	min-height: $badge-size;
	font-size: $badge-font-size;
	line-height: 1;
	border-radius: $badge-size;
	box-shadow: $badge-box-shadow;
	z-index: 1;

	&--top-right {
		transform: translate(50%, -50%);
	}

	&--top-left {
		transform: translate(-50%, -50%);
	}

	&--bottom-right {
		transform: translate(50%, 50%);
	}

	&--bottom-left {
		transform: translate(-50%, 50%);
	}

	&--center-right {
		transform: translate(50%, 0%);
	}

	&--center-left {
		transform: translate(-50%, 0%);
	}
}
