.panel {
	&__header {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: center;
		padding: $spacing-scale-6 0;
	}

	&__header-body {
		margin-left: $spacing-scale-6;
		flex: 1;
	}

	&__title {
		display: block;
	}

	&__icon {
		color: $icon-color;
		margin: 0 $spacing-scale-6;
	}

	&__body {
		display: block;
	}
}
